
:root {
    primary: #fff0f5;
    accend:#f8c8dc;
    gradient-bg:#ff69b4;
    gradient-bg-2: #d04894;
    text:#333;
}

*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box
}

body{
    font-family:'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif sans-serif;
    color: var(--text);
    backgraund: #fff0f5;
}

header {
    background: var (--gradient-bg);
    color:#fff0f5;
    padding: 60px, 20px;
    text-align: center;
}

header h1 {
    font-size:2.8 rem;
    margin-bottom:10px;
    color :#d04894;
}

header p {
    font-size:
    margin bottom:
}

.cta-btn {
    backgraund: #fff0f5;
    color:var(--text);
    padding: 12px, 30px;
    border-radius:0%
    border: none;
    font-size::after
    cursor: ponter;
    transition:
}

.cta-btn:hover {
    background: #fff0f5;
}



